<div class="container">
    <form class="first-column" #form="ngForm" (ngSubmit)="addClient()">
  
      <div class="form-element">
        <label for="username">Enter your username:</label>
        <section>
          <input #username="ngModel" type="text" id="username"
          name="username" [(ngModel)]="addClientRequest.username">
          </section>
        <section *ngIf="invalidUsername(addClientRequest.username) && username.touched" class="danger-section second-column">Invalid username</section>
      </div>
  
      <div class="form-element">
        <label for="password">Enter your password:</label>
        <section>
          <input #psw="ngModel" type="password" id="password" name="inputField"
          name="password" [(ngModel)]="addClientRequest.password">
          </section>
        <section *ngIf="invalidPassword(addClientRequest.password) && psw.touched" class="danger-section second-column">Invalid password</section>
      </div>
  
      <div class="form-element">
        <label for="email">Enter your email</label>
        <section>
          <input #email="ngModel" type="text" id="email" name="inputField"
          name="email" [(ngModel)]="addClientRequest.email">
          </section>
        <section *ngIf="invalidEmail(addClientRequest.email) && email.touched" class="danger-section second-column">Invalid email</section>
      </div>
  
      <div class="form-element">
        <label for="phonenr">Enter your phone number:</label>
        <section>
          <input #phoneNr="ngModel" type="text" id="phonenr" name="inputField"
          name="phonenr" [(ngModel)]="addClientRequest.phoneNumber">
          </section>
          <section *ngIf="invalidPhoneNr(addClientRequest.phoneNumber) && phoneNr.touched" class="danger-section second-column">Invalid phone number</section>
        </div>
  
      <div class="form-element">
        <label for="fullname">Enter your full name: </label>
        <section>
          <input #fullName="ngModel" type="text" id="fullname" name="inputField"
          name="fullname" [(ngModel)]="addClientRequest.fullName">
        </section>
      <section *ngIf="invalidFullName(addClientRequest.fullName) && fullName.touched" class="danger-section second-column">Invalid full name</section>
      </div>
  
      <button class="btn btn-primary" type="submit">Register</button>
    </form>
  </div>