<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Passwprd</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">PhoneNr</th>
        <th scope="col">Role</th>
        <th scope="col">Full Name</th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of clients">
        <td> {{ i.clientId }}</td>
        <td> {{ i.password }}</td>
        <td> {{ i.username }}</td>
        <td> {{ i.email }} </td>
        <td> {{ i.phoneNumber }}</td>
        <td> {{ i.userRole }}</td>
        <td> {{ i.fullName }}</td>
        <td><a [routerLink]="['/clients', 'edit', i.clientId]">view</a></td>
      </tr>
    </tbody>
  </table>
