button {
    margin-bottom: 10px;
}
.container {
    margin-top: 100px;
}
form {
    background-color: whitesmoke;
    width: 210px;
    padding-left: 10px;
}
.danger-section {
    background-color: red;
}