.card {
    display: inline-block;
    width: 17rem;
    margin-right: 15px;
}

input {
    margin: 0;
    border: 0;
}

.disabled {
    background-color: transparent !important;
    pointer-events: none;
}

.danger {
    margin-left: 5px;
}

form {
    margin-right: 100px;
    margin-left: 100px;
}